/* ヘッダーのスタイル */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 60px;
    left: 20px;
    position: absolute;
}

/* ロゴのスタイル */
.logo {
    font-size: 24px;
    color: #1E90FF;
    margin-left: 20px;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    width: 40px;
    /* 正方形の幅 */
    height: 40px;
    /* 正方形の高さ */
    background: #1E90FF;
    /* 背景色（任意） */
    border-radius: 5px;
    /* 角丸にしたい場合 */
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span::before,
.drawer_open span::after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: white;
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span::before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span::after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked+.drawer_open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked+.drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked+.drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* メニューのデザイン */
.nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 100%;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #f4f4f4;
    transition: .5s;
    text-align: center;
    padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
    list-style: none;
    margin-top: 300px;
}

.nav_item{
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav_item a {
    color: #007BFF;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
}

/* ログアウトボタンのスタイル */
.logout_button {
    background-color: transparent;
    border: none;
    color: #007BFF;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 25px;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked~.nav_content {
    right: 0;
    /* メニューを画面に入れる */
}